<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wei.iotplatformservice.mapper.DeviceDataMapper">

    <select id="queryDeviceDataListP" resultType="com.wei.iotplatformservice.pojo.DeviceData">
        SELECT SQL_CALC_FOUND_ROWS device_data_id, protocol, equipment_no, data, create_time FROM device_data WHERE device_cfg_id = #{cid} AND create_time >= #{startTime} AND #{endTime} >= create_time LIMIT #{start}, #{limit};
    </select>
    <select id="queryDeviceDataCount" resultType="java.lang.Integer">
        SELECT FOUND_ROWS() AS TOTAL;
    </select>
</mapper>
